@model List<UsuarioModel>;
@{
    ViewData["Title"] = "Listagem de Usuários";
}

<div class="container text-center">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success mt-5" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if(TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1 class="display-4">
            <i class="bi bi-person-lines-fill"></i>
            Listagem de Usuários
        </h1>
        <a role="button" class="btn btn-success" asp-controller="Usuario" asp-action="Criar">
            <i class="bi bi-plus-circle"></i>
            Adicionar novo Usuários
        </a>
    </div>

    <table class="table table-striped table-hover" id="table-Usuarios">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">E-mail</th>
                <th scope="col">Perfil</th>
                <th scope="col">Data de Cadastro</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (UsuarioModel usuario in Model)
                {
                    <tr>
                        <td scope="row">@usuario.Nome</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.Email</td>
                        <td>@(usuario.Perfil == ControleDeContatos.Enums.PerfilEnum.Admin ? "Administrador" : "Padrão")</td>
                        <td>@usuario.DataCadastro</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="Editar">
                                    <i class="bi bi-pencil-square"></i>
                                    Editar
                                </a>
                                <a role="button" class="btn btn-danger" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="ApagarConfirmar">
                                    <i class="bi bi-trash3-fill"></i>
                                    Apagar
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>